<% layout("/listings/boilerplate") %>

<div style="text-align:center; padding:60px;">
    <h1>404</h1>
    <h3>Page Not Found</h3>
    <p>The page you are looking for doesn't exist.</p>

    <a href="/listings" 
       style="padding:8px 15px; background:black; color:white; text-decoration:none; border-radius:5px;">
       Go Back Home
    </a>
</div>